$blue: #4080a8;

h1, h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}

.btn {
    font-size: 13px;
    border-radius: 3px;
    border: 0;
    border-bottom: 2px solid #42638c;
    color: white;
    padding: 6px 28px;
    cursor: pointer;
    outline: none;

    i {
        // margin for icons
        margin-right: 3px;
    }
}
.btn-sm {
    padding: 4px 10px;
    font-size: 12px;
}
.btn-primary {
    background-color: #4d97d5;

    &:hover {
        background: #68ace6;
        border-color: #678ab6;
    }
}
.btn-outline-primary {
    border-color: $blue;
    color: $blue;

    &:hover {
        background-color: $blue;
        border-color: #367399;
    }
}
.btn-light {
    background-color: white;
    border-color: lightgray;
    color: #333;
}
a {
    color: #4080a8
}

.card-body {
    padding: 15px;
    font-size: 13px;

    .card-title {
        font-size: 15px;
        margin: 7px 0;
    }
}

.modal-body {
    font-size: 13px;
}
