{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h1>Регистрация</h1>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                Not field error: <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <input type="submit" value="Регистрация" class="btn btn-primary">
    </form>

    <div class="modal fade" id="rankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Как определить свой уровень?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><b>1.0-1.5</b> Игрок начинает играть.</li>
                        <li><b>2.0</b> Игрок нуждается в опыте, имеет заметные недостатки при выполнении ударов.</li>
                        <li><b>2.5</b> Игрок учится предугадывать направление мяча, хотя чувство корта развито еще слабо. Может поддерживать игру в невысоком темпе.</li>
                        <li><b>3.0</b> Игрок стабильно отбивает мячи в среднем темпе, но чувствует неуверенность, когда пытается контролировать направление, глубину и силу ударов.</li>
                        <li><b>3.5</b> Игрок достиг хорошего контроля направления при ударах средней сложности, но еще недостаточно контролирует глубину и разнообразие. Решительно играет у сетки и работает над улучшением парной игры.</li>
                        <li><b>4.0</b> Игрок выполняет надежные удары, контролирует направление и глубину с  форхенда и бекхэнда плюс способен с успехом использовать свечи, смэши, выбивающие удары и удары с лета. Может допускать ошибки при подаче, использует командную тактику в парной игре.</li>
                        <li><b>4.5</b> Игрок приобрел навыки использования силы и подкрутки при ударах, начал управлять темпом игры, имеет хорошую работу ног, может контролировать глубину ударов и менять тактику игры в зависимости от противника. Игрок владеет сильной и точной первой, стабильной второй подачей, может атаковать у сетки.</li>
                        <li><b>5.0</b> Игрок хорошо чувствует мяч и часто выполняет особенные удары, вокруг которых строится игра. Может выигрывать очки или вынуждать соперника совершать ошибки с помощью укороченных мячей, "убивать" мячи с лета, успешно использовать свечи, укороченные удары, удары с полулета или смэши и использовать хорошую глубину и подкрутку на второй подаче.</li>
                        <li><b>5.5</b> Игрок в качестве главного оружия использует мощные удары и стабильность. Может менять стратегию и стиль игры в зависимости от ситуации и выполнять надежные удары в стрессовой ситуации.</li>
                        <li><b>6.0-7.0</b> Игрок проф. уровня</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


{% endblock %}