{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}

{% block breadcrumbs %}
    <a href="">Регистрация</a>
{% endblock %}

{% block content %}
    <h1>Регистрация</h1>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                Not field error: <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <input type="submit" value="Регистрация" class="btn btn-primary">
    </form>

    {% include "partials/ranks_modal.html" %}


{% endblock %}