h1, h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

.btn-primary {
  background-color: #4080a8;
  border-color: #367399; }
  .btn-primary:hover {
    background-color: #4f98c6;
    border-color: #367399; }

.btn-outline-primary {
  border-color: #4080a8;
  color: #4080a8; }
  .btn-outline-primary:hover {
    background-color: #4080a8;
    border-color: #367399; }

a {
  color: #4080a8; }

.card-body {
  padding: 15px;
  font-size: 13px; }
  .card-body .card-title {
    font-size: 15px;
    margin: 7px 0; }
