{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>Добро пожаловать на сервис поиска партнеров по теннису!</h2>
            <p>Ищите с кем поиграть в Киеве? Наш сервис поможет найти партнера по теннису на вашем любимом корте.</p>
            <p>В разделе кортов можно выбрать интересующий корт и найти игроков, которые на нем играют. </p>
            <p>Также можете перейти в раздел игроков и найти партнера по уровню игры.</p>
            
            {% if not user.is_authenticated %}
                <br/><br/>
                <div class="text-center">
                    <a href="{% url 'register' %}" class="btn btn-primary">Зарегистрируйтесь</a>
                    или
                    <a href="{% url 'login' %}" class="btn btn-outline-primary">Войдите</a>
                    и получите доступ ко всем функциям
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h4>Игроки, которые ищут патнеров:</h4>
            {% for player in players %}
                {{player}}
            {% endfor %}
            <h4>Корты:</h4>
            {% for court in courts %}
                {{court}}
            {% endfor %}
        </div>
    </div>
    
    
{% endblock %}