{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block site_title %} Tennis {% endblock %}</title>
    <meta name="Language" content="ru"/>
    <meta name="country" content="UA"/>


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>
<body>
    <div class="top-menu">
        <div class="top-menu-container clearfix">
            <div class="title float-left">
                <a href="/">
                    <img src="{% static 'images/tennis-ball.png' %}" alt="">
                    Tennis Mates
                </a>
            </div>
            <div class="menu float-right">
                <a href="{% url 'players' %}" class="menu-item">
                    <img src="{% static 'images/icons/racket-white.png' %}" class="icon" alt="">
                    Игроки
                </a>
                <a href="{% url 'courts' %}" class="menu-item">
                    <img src="{% static 'images/icons/court-white.png' %}" class="icon" alt="">
                    Корты
                </a>
                {% if user.is_authenticated %}
                    <span class="profile-actions">
                        Привет, <a href='{% url 'profile' %}'>{{ user.first_name }}</a>
                    </span>
                    <a href="{% url 'logout' %}" class="btn btn-outline-primary">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-primary">Войти</a>
                    <a href="{% url 'register' %}" class="btn btn-primary">Регистрация</a>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="breadcrumbs-block">
        <nav class="breadcrumbs clearfix">
            <a href="/" class="">Home</a>
            <span class="delimiter"></span>
            <a href="/" class="">www</a>
            <span class="delimiter"></span>
            <a href="/" class="">site</a>
        </nav>
    </div>

    <div class="main-container site-width">
        {% block content %}
            Hello Tennis
        {% endblock %}
    </div>

    <div class="site-footer">
        <div class="top-menu-container clearfix text-center">
            Copyright &copy; 2019 <a href="https://www.facebook.com/kotl.alex">Александр Котляров</a>
        </div>
    </div>
</body>
</html>
