{% extends 'index.html' %}
{% load static %}

{% block content %}
    <h1>Игроки</h1>
    <div class="players-list row">
        {% for player in players %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="player card">
                    <div class="card-body">
                        <img class="card-img-top" src="{% static 'images/blank-player2.jpg' %}" alt="">
                        <h5 class="card-title">{{ player.first_name }}</h5>
                        <p class="card-text">
                            {% if player.rank > 0 %}
                                Уровень: <strong>{{ player.rank }}</strong> <br>
                            {% endif %}
                            {% if player.rank > 0 %}
                                Корты: <strong>{{ player.courts_count }}</strong>
                            {% endif %}
                        </p>
                        <a href="{% url 'player' player.id %}" class="btn btn-primary btn-sm">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}