{% extends 'index.html' %}

{% block site_title %}
    Play Tennis - логин
{% endblock %}

{% block breadcrumbs %}
    <a href="">Вход</a>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger">
            Логин или пароль неправильные.
        </div>
    {% endif %}

    {% if messages %}
        <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </div>
    {% endif %}

    <div class="row" style='padding-top: 100px;'>
        <div class="col-sm-4"></div>
        <div class="card col-sm-4">
            <div class="card-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" class="form-control" name="password" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>


{% endblock %}