{% extends 'index.html' %}

{% block site_title %}
    Play Tennis - восстановление пароля
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'login' %}">Вход</a>
    <a href="">Восстановление пароля</a>
{% endblock %}

{% block content %}
    <div class="row" style='padding-top: 100px;'>
        <div class="alert alert-success">
            <h2>Инструкции высланы на ваш Email</h2>
            Мы выслали вам инструкции по смене пароля. Проверьте ваш почтовый ящик.
        </div>
    </div>
{% endblock %}