{% extends 'index.html' %}

{% block site_title %}
    Play Tennis - восстановление пароля
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'login' %}">Вход</a>
    <a href="">Восстановление пароля</a>
{% endblock %}

{% block content %}
    <div class="row" style='padding-top: 100px;'>
        <div class="alert alert-success">
            <h2>Новый пароль установлен</h2>
            Теперь вы можете <a href="{% url 'login' %}">войти</a> в аккаунт под новым паролем.
        </div>
    </div>
{% endblock %}