{% extends 'index.html' %}
{% load static %}
{% load pluralize %}

{% block site_title %}
    Теннисные корты Киева - поиск партнера по корту
{% endblock %}

{% block breadcrumbs %}
    <a href="">Корты</a>
{% endblock %}

{% block content %}
    <h1>Корты</h1>
    <div class="courts-list row">
        {% for court in courts %}
            <div class="col-sm-6 col-md-6 col-lg-4">
                <a href="{% url 'court' court.id %}" class="court card">
                    <img class="card-img-top" src="{% static 'images/blank-court.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ court.name }}</h5>
                        <p class="card-text">
                            <i class="fa fa-map-marker"></i>
                            {{ court.address }}
                        </p>
                        <p class="card-text">
                            <i class="fa fa-users"></i>
                            {{ court.players_count }} {{ court.players_count | pluralize:"игрок,игрока,игроков" }}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}