{% extends 'index.html' %}
{% load static %}

{% block site_title %}
    {{ court.name }} - игроки которые играют на теннисном корте
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'courts' %}">Корты</a>
    <a href="">{{ court.name }}</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <h1>{{ court.name }}</h1>

            Адрес: {{ court.address }} <br>
            {% if court.phone %}
                Телефон: {{ court.phone }} <br>
            {% endif %}
            {% if court.url %}
                Сайт: <a href="{{ court.url }}">{{ court.url }}</a> <br>
            {% endif %}
            Игроков на корте: {{ court.players_count }} <br>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3>Играют на этом корте:</h3>
                    <div class="top-players row">
                        {% for player in players %}
                            <a href="{% url 'player' player.id %}" class="col-4">
                                <div class="player ">
                                    <div class="background-image circle square" style="background-image: url('{% firstof player.image '/static/images/blank-player2.jpg' %}')"></div>
                                    <div class="title">
                                        {{ player.first_name }}
                                    </div>
                                    <div class="description">
                                        Уровень: <b>{% firstof player.rank '-' %}</b>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}