{% extends 'index.html' %}
{% load static %}
{% load pluralize %}

{% block site_title %}
    Теннисные корты Киева - поиск партнера по корту
{% endblock %}

{% block breadcrumbs %}
    <a href="">Корты Киева на карте</a>
{% endblock %}

{% block content %}


    <h1>Корты</h1>

    <div id="map" class="map" style="width:100%; height:500px"></div>
    <script type="text/javascript">
        var map = L.map('map').setView([50.4425, 30.5133], 12);

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution:'Map data <a target="_blank" href="http://www.openstreetmap.org">OpenStreetMap.org</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
        }).addTo(map);

        {% for court in courts %}
            {% if court.map_lat != 0 and court.map_lng != 0 %}
                var marker = L.marker([{{ court.map_lat }}, {{ court.map_lng }}]).addTo(map);
                marker.bindPopup("<b>{{ court.name }}</b><br>{{ court.address }}<br><a href='{% url 'court' court.id %}'>Подробнее</a>");
            {% endif %}
        {% endfor %}

        $(".courts-list table").tablesorter();
    </script>
    <br><br>

    <div class="courts-list row">
        <table>
            <thead>
                <tr>
                    <th>Корты</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                    <th>Игроки</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for court in courts %}
                    <tr>
                        <td>
                            <a href="{% url 'court' court.id %}">{{ court.name }}</a>
                        </td>
                        <td>
                            <i class="fa fa-map-marker"></i>
                            {{ court.address }}
                        </td>
                        <td>
                            <i class="fa fa-phone"></i>
                            {{ court.phone }}
                        </td>
                        <td>
                            {% if court.players_count > 0 %}
                                <i class="fa fa-users"></i>
                                {{ court.players_count }} {{ court.players_count | pluralize:"игрок,игрока,игроков" }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'court' court.id %}" class="bnt btn-primary">Подробнее</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}