{% extends 'index.html' %}
{% load static %}

{% block site_title %}
    Ваши друзья
{% endblock %}

{% block breadcrumbs %}
    <a href="">Ваши друзья</a>
{% endblock %}

{% block content %}
    <h1>Ваши друзья</h1>

    {% if messages|length == 0 %}
        <div class="alert alert-info">
            Здесь будет список ваших переписок с другими игроками.
        </div>
    {% endif %}

    <div class="friends-list">
        {% for message in messages %}
            <div class="row">
                <div class="col-4 col-sm-1 justify-content-center align-self-center">
                    <a href="{% url 'player' message.friend.id %}">
                        <div class="background-image circle" style="background-image: url('{% if message.friend.image != '' %}/media/{{ message.friend.image }}{% else %}{% static 'images/blank-player2.jpg' %}{% endif %}')"></div>
                    </a>
                </div>
                <div class="col-8 col-sm-3 justify-content-center align-self-center">
                    <a href="{% url 'player' message.friend.id %}">
                        <b>{{ message.friend.first_name }}</b>
                    </a>
                </div>
                <div class="col-12 col-sm-8 justify-content-center align-self-center {% if message.is_read == 0 and message.recipient.id == request.user.id %}font-weight-bold{% endif %}">
                    <a href="{% url 'player' message.friend.id %}">
                        <i class="fa fa-comment-o"></i>
                        {{ message.text }}
                    </a>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}