{% extends 'index.html' %}
{% load static %}

{% block site_title %}
    Tennis Friends - поиск партнера по теннису в Киеве
{% endblock %}

{% block content %}
    <style>
        .breadcrumbs-block {
            display: none;
        }
    </style>

    <div class="row home-page">
        <div class="col-md-7">
            <h2>Поиска партнеров по теннису</h2>
            <p>Ищите с кем поиграть в Киеве? Наш сервис поможет найти партнера по теннису на вашем любимом корте.</p>
            <div class="row">
                <div class="col-sm-3 col-6">
                    <a href="{% url 'courts' %}">
                        <div class="background-image circle" style="background-image: url('{% static 'images/blank-court.jpg' %}')"></div>
                    </a>
                </div>
                <div class="col-sm-9 justify-content-center align-self-center">
                    В разделе кортов можно найти ближайший корт <b>на карте</b> и просмотреть игроков, которые на нем играют.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-9 justify-content-center align-self-center">
                    Также можете перейти в раздел игроков и найти партнера по уровню игры.
                </div>
                <div class="col-sm-3 col-6">
                    <a href="{% url 'players' %}">
                        <div class="background-image circle" style="background-image: url('{% static 'images/player-girl.jpg' %}')"></div>
                    </a>
                </div>
            </div>
            <p></p>

            {% if not user.is_authenticated %}
                <br/><br/>
                <div class="text-center">
                    Чтобы получить доступ ко всем функциям на сайте -
                    <a href="{% url 'register' %}" class="btn btn-primary">Зарегистрируйтесь</a>
                    или
                    <a href="{% url 'login' %}" class="btn btn-outline-primary">Войдите</a>

                </div>
                <br><br>
            {% endif %}
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="top-players row">
                        {% for player in players %}
                            <a href="{% url 'player' player.id %}" class="col-4">
                                <div class="player ">
                                    <div class="background-image circle square" style="background-image: url('{% if player.image != '' %}/media/{{ player.image }}{% else %}{% static 'images/blank-player2.jpg' %}{% endif %}')"></div>
                                    <div class="title">
                                        {{ player.first_name }}
                                    </div>
                                    <div class="description">
                                        Уровень: <b>{% firstof player.rank '-' %}</b>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <br>
                        <a href="{% url 'players' %}">Посмотреть других игроков</a>
                    </div>
                </div>

            </div>

        </div>
    </div>


{% endblock %}