{% extends 'index.html' %}
{% load static %}

{% block site_title %}
    Play Tennis - поиск партнера по теннису в Киеве
{% endblock %}

{% block content %}
    <style>
        .breadcrumbs-block {
            display: none;
        }
    </style>

    {% if messages %}
        <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </div>
    {% endif %}

    <div class="row home-page">
        <div class="col-md-7">
            <h2>Поиска партнеров по теннису</h2>
            <p>Ищете с кем поиграть в Киеве? Наш сервис поможет найти партнера по теннису на вашем любимом корте.</p>
            <div class="row">
                <div class="col-sm-3 col-6 d-none d-sm-block">
                    <a href="{% url 'courts' %}">
                        <div class="background-image circle" style="background-image: url('{% static 'images/blank-court.jpg' %}')"></div>
                    </a>
                </div>
                <div class="col-sm-9 justify-content-center align-self-center">
                    В разделе <a href="{% url 'courts' %}">кортов</a> можно найти ближайший корт <b>на карте</b> и просмотреть игроков, которые на нем играют.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-9 justify-content-center align-self-center">
                    Также можете перейти в раздел <a href="{% url 'courts' %}">игроков</a> и найти партнера по уровню игры.
                </div>
                <div class="col-sm-3 col-6 d-none d-sm-block">
                    <a href="{% url 'players' %}">
                        <div class="background-image circle" style="background-image: url('{% static 'images/player-girl.jpg' %}')"></div>
                    </a>
                </div>
            </div>
            <p></p>

            {% if not user.is_authenticated %}
                <br/><br/>
                <div class="text-center">
                    Чтобы получить доступ ко всем функциям на сайте -
                    <a href="{% url 'register' %}" class="btn btn-primary">
                        <i class="fa fa-user-plus"></i>
                        Зарегистрируйтесь
                    </a>
                    или
                    <a href="{% url 'login' %}" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i>
                        Войдите
                    </a>

                </div>
                <br><br>
            {% endif %}
        </div>
        <div class="col-md-5">
            <h3>Запросы на игру</h3>
            <div class="requests-list mb-2">
                {% for request in requests %}
                    <div class="request">
                        {{ request.user.first_name }}
                        {{ request.date }}
                        {{ request.details }}
                    </div>
                {% endfor %}
            </div>

            <a href="{% url 'add_request' %}" class="btn btn-primary btn-sm mb-4">
                <i class="fa fa-plus"></i>
                Запрос на игру
            </a>

            <div class="card">
                <div class="card-body">
                    <div class="top-players row">
                        {% for player in players %}
                            <a href="{% url 'player' player.id %}" class="col-4">
                                <div class="player ">
                                    <div class="background-image circle square" style="background-image: url('{% if player.image != '' %}/media/{{ player.image }}{% else %}{% static 'images/blank-player2.jpg' %}{% endif %}')"></div>
                                    <div class="title">
                                        {{ player.first_name }}
                                    </div>
                                    <div class="description">
                                        Уровень: <b>{% firstof player.rank '-' %}</b>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <br>
                        <a href="{% url 'players' %}">Посмотреть других игроков</a>
                    </div>
                </div>

            </div>

        </div>
    </div>


{% endblock %}