{% extends 'index.html' %}
{% load bootstrap4 %}
{% load static %}

{% block site_title %}
    Play Tennis - {{ player.first_name }} - уровень {{ player.rank }}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'players' %}">Игроки</a>
    <a href="">{{ player.first_name }}</a>
{% endblock %}

{% block content %}
    {% if request.GET.r %}
        <div class="alert alert-success">
            Сообщение отправлено.
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-md-7 pb-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="background-image circle" style="background-image: url('{% if player.image != '' %}/media/{{ player.image }}{% else %}{% static 'images/blank-player2.jpg' %}{% endif %}')"></div>
                </div>
                <div class="col-md-9">
                    <h1>
                        {{ player.first_name }}
                        <small class="ml-2">({{ player.nickname }})</small>
                    </h1>
                    <i class="fa fa-trophy"></i>
                    Уровень: <b>{{ player.rank }}</b><br>
                    {% if player.player_since > 0 %}
                        <i class="fa fa-calendar"></i>
                        Игровой опыт: <b>с {{ player.player_since }}</b> года <br>
                    {% endif %}
                    {% if show_phone and player.phone %}
                        <i class="fa fa-phone"></i>
                        Телефон: <b>{{ player.phone }}</b> <br>
                    {% endif %}
                </div>
            </div>

            {% if player.about != '' %}
                <br><br><b>О себе:</b><br>
                {{ player.about | linebreaks }}
            {% endif %}

            <br><br>
            <h3>Играет на кортах:</h3>
            {% if player.courts.all.count > 0 %}
                {% for court in player.courts.all %}
                    <li><a href="{% url 'court' court.id %}">{{ court.name }}</a></li>
                {% endfor %}
            {% else %}
                <div class="alert alert-primary">
                    Этот игрок не выбрал корты, на которых играет.
                </div>
            {% endif %}

        </div>
        <div class="col-xs-12 col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3>Связаться с игроком</h3>
                    {% if user.is_authenticated %}
                        <form action="{% url 'message_player' player.id %}" method="POST" class="message-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea name="text" cols="40" rows="3" class="form-control" placeholder="Введите ваше сообщение..." title="" required=""></textarea>
                            </div>
                            <input type="submit" value="Отправить" class="btn btn-primary">
                        </form>


                    {% else %}
                        <div class="alert alert-warning">
                            <a href="{% url 'login' %}">Войдите</a>, чтобы отправить игроку сообщение.
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="messages-list">
                {% for message in messages %}
                    <div class="message {% if message.author.id == request.user.id %}self{% endif %}">
                        <div class="text">
                            {{ message.text | linebreaks }}
                        </div>
                        <div class="author">
                            {{ message.author.first_name }}
                        </div>
                        <div class="date">
                            {{ message.date_created | date:"d.m.Y" }}
                            {% if message.is_read %}
                                <i class="fa fa-check text-success" title="Сообщение прочитано"></i>
                            {% else %}
                                <i class="fa fa-clock-o" title="Сообщение не прочитано"></i>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}

                {% if request.GET.all_messages == null and messages.length >= 20 %}
                    ...<br>
                    <a href="?all_messages">Показать все сообщения</a>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}