{% extends 'index.html' %}
{% load static %}

{% block site_title %}
    Игроки в теннис в Киеве
{% endblock %}

{% block breadcrumbs %}
    <a href="">Игроки</a>
{% endblock %}

{% block content %}
    <h1>Игроки</h1>
    <div class="players-list row">
        {% for player in players %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a href="{% url 'player' player.id %}" class="player card">

                    <div class="background-image card-img-top" style="background-image: url('{% if player.image != '' %}/media/{{ player.image }}{% else %}{% static 'images/blank-player2.jpg' %}{% endif %}')"></div>

                    <div class="card-body">
                        <h5 class="card-title">{{ player.first_name }}</h5>
                        <p class="card-text">
                            {% if player.rank > 0 %}
                                <i class="fa fa-trophy"></i>
                                Уровень: <strong>{{ player.rank }}</strong> <br>
                            {% endif %}
                            {% if player.rank > 0 %}
                                <i class="fa fa-map-marker" style="margin:0 2px"></i>
                                Корты: <strong>{{ player.courts_count }}</strong>
                            {% endif %}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}